In [ ]:
import pandas as pd
url = 'https://raw.github.sydney.edu.au/awon6941/DATA3406_Group4/master/owid-covid-data.csv?token=AAAA6WPK6RZFDLJJ62KGLJK7SDSXG' #has to be raw.github link 
df1 = pd.read_csv(url)
# Dataset is now stored in a Pandas Dataframe

df1.head()

  iso_code      continent  ... life_expectancy human_development_index
0      ABW  North America  ...           76.29                     NaN
1      ABW  North America  ...           76.29                     NaN
2      ABW  North America  ...           76.29                     NaN
3      ABW  North America  ...           76.29                     NaN
4      ABW  North America  ...           76.29                     NaN

[5 rows x 41 columns]

In [ ]:
test = df1['location']=='Aruba'
test

0         True
1         True
2         True
3         True
4         True
         ...
50085    False
50086    False
50087    False
50088    False
50089    False
Name: location, Length: 50090, dtype: bool